/* 💡 Configuration des styles du sélecteur de note */
:root {
  --gl-star-empty: url(../img/star-empty.svg);
  --gl-star-full: url(../img/star-full.svg);
  --gl-star-size: 24px;
  --gl-tooltip-border-radius: 4px;
  --gl-tooltip-font-size: 0.875rem;
  --gl-tooltip-font-weight: 400;
  --gl-tooltip-line-height: 1;
  --gl-tooltip-margin: 12px;
  --gl-tooltip-padding: 0.5em 1em;
  --gl-tooltip-size: 6px;
}

body {
  font-family: sans-serif;
  background-color: #616eab;
  margin: 0;
  max-width: 430px;
}

.background {
  background-color: white;
  transform: translateY(100px);
  border-radius: 80px 80px 0px 0px;
}

.content {
  transform: translateY(-230px);
}

.write {
  margin-left: 12%;
  color: #545391;
}


.header {
  width: 430px;
  height: 200px;
  background-color: #545391;
  border-radius: 0px 0px 130px 0px;
}

.book {
  text-align: center;
}

.book img {
  max-width: 430px;
  width: 270px;
  border-radius: 20px;
  box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

h1 {
  font-size: 35px;
  font-weight: 600;
}

.title {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 50px;
  height: 50px;
  margin-right: 16%;
  transform: translateY(-60px);
}



.autor {
  font-size: 18px;
  font-weight: 100;
  margin-top: -17px;
  margin-bottom: 10px;
}

hr {
  width: 330px;
  margin: 0px;
}

h3 {
  font-weight: 100;
  font-size: 40px;
  margin-bottom: 30px;
  margin-right: 12%;
  text-align: right;
}

.first {
  display: flex;
  width: 130px;
  margin-left: 207px;
  margin-bottom: -20px;
}


h3 strong {
  font-weight: 900;
}

h2 {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 40 px;
  margin-top: 30px;
}


.infos {
  display: flex;
  justify-content: space-between;
  margin-right: 12%;
  font-weight: 100;
  margin-bottom: 10px;
}


.infos.last {
  margin-bottom: 60px;
}

.infos strong {
  font-weight: 900;
}


.texte {
  width: 335px;
  margin-bottom: 38px;
}


.etoiles {
  text-align: end;
}


.five {
  display: flex;
  width: 60px;
  margin-bottom: 9px;
}


.four {
  display: flex;
  width: 48px;
  margin-bottom: 9px;
}

.three {
  display: flex;
  width: 35px;
  margin-bottom: 9px;
}

.two {
  display: flex;
  width: 24px;
  margin-bottom: 9px;
}

.one {
  display: flex;
  width: 13px;
}


.evalutation {
  display: flex;
  justify-content: space-between;
  margin-right: 55px;
  margin-top: 35px;
}

.number {
  display: flex;
  text-align: end;
  flex-direction: column;
  margin-top: -58px;
}

.votes {
  margin-top: -20px;
  font-size: 15px;
}


h3.note {
  margin-right: -3px;
  font-size: 50px;
}

.ajout {
  margin-top: -3px;
}

.elements {
  display: flex;
}

.footer {
  width: 432px;
  height: 100px;
  background-color: #df5a5a;
  border-radius: 0px 55px 0px 0px;
  margin-top: 80px;
}

.elements img {
  width: 48px;
  justify-content: space-between;
}


.commentary {
  width: 300px;
  height: 155px;
  background-color: #e9e9e9;
  border-radius: 30px;
  padding: 15px;
  padding-top: 8px;
}


.profile {
  width: 60px;
}